<!DOCTYPE html>
<html>

    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
        {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
        {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
        {% endif %}

        {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
        {% endif %}

        <link rel="stylesheet" href="{{ theme_url }}/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="{{ theme_url }}/cover.css" type="text/css" />

    </head>

    <body>

        <div class="site-wrapper">
        
            <div class="site-wrapper-inner">
            
                <div class="cover-container">
                
                    <div class="masthead clearfix">
                    
                        <div class="inner">
                        
                            <h3 class="masthead-brand">&nbsp;</h3>
                            
                            <nav>
                                <ul class="nav masthead-nav">
                                    <li><a href="//www.davelodwig.co.uk/">Dave</a></li>
                                    <li><a href="//www.mary-makes.co.uk/">Mary</a></li>
                                </ul>
                            </nav>
                            
                        </div>
                        
                    </div>
                    
                    <div class="inner cover">
                    
                        <h1 class="cover-heading">{{ meta.title }}</h1>
                        <h1 class="cover-heading">{{ meta.subtitle }}</h1>
                        <p class="lead">{{ page.description }}</p>
                        
                    </div>
                    
                    <div class="mastfoot">
                        <div class="inner">
                            <p><a href="rat/" data-toggle="tooltip" data-placement="top" title="The Little Rat Compels You">
                                <img src="images/little_rat_small.png"/>&nbsp;&nbsp;
                                Did you follow the little rat here?
                            </a></p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

        <script src="{{ theme_url }}/vendor/twbs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

    </body>

</html>
